body{
    font-family: 'Pixelify Sans', 'Oswald', Arial;
    background-image:url("assets/celestial_background_two.png");
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
}

@keyframes spin {
    0%{
        rotate:0deg;
    } 100% {
        rotate:360deg;
    }
}

#main-header{
    color:#000000;
}

#main-display{
    display:flex;
    flex-direction:row;
}

.display-box{
    display:flex;
    flex-direction:column;
    border:rgb(255, 255, 255) 1px solid;
    border-radius:10px;
    /*background: linear-gradient(#3f5788ac, #3f4662 50%, #8a7b7a 100%);*/
    margin:10px;
    padding:20px;
}

#left-display{
    display:flex;
    flex-direction:column;
}

#topic-title-display{
    width:440px;
    height:60px;
    background-image:url('assets/title_display_background.png');
    background-size:101%;
    background-position-y:2px;
    background-position-x:8px;
    justify-content:center;
    align-items:center;
    margin-left:27px;
    margin-bottom:20px;
}

#key-points-display{
    width:440px;
    height:356px;
    background-image:url('assets/key_points_display_background.png');
    background-size:101%;
    background-position-y:-0px;
    background-position-x:0px;
    padding:10px;
    margin-left:30px;
}

#key-points-display-border{
    width:530px;
    height:430px;
    background-image:url('assets/key-points-border.png');
    background-size:100%;
    background-position-y:-5px;
    background-position-x:0px;
    position:absolute;
    bottom:77px;
}

#key-points-sub-header{
    display:flex;
    justify-content:center;
    align-items:center;
    width:160px;
    margin-top:40px;
}

#research-display{
    width:600px;
    height:480px;
    background-image:url("assets/research_display_background.png");
    background-size:105%;
    background-position-y:-20px;
    background-position-x:-15px;
    justify-content:center;
    align-items:center;
}

.sub-header{
    color:white;
    text-shadow:1px -1px 5px rgb(81, 81, 81);
}

.body-text{
    display:flex;
    color:white;
    border:none;
    padding-left:20px;
    justify-content:left;
    text-shadow:1px -1px 5px rgb(81, 81, 81);
    width:500px;
}

#research-paragraphs-display{
    width:560px;
    height:410px;
    overflow:scroll;
}

.research-paragraphs-header-display{
    width:530px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

#research-sub-header{
    display:inline;
    padding-left:20px;
}

.apa-hyperlinks{
    color:rgb(255, 255, 255);
}

#clickable-one{
    width:50px;
    rotate:0deg;
}

#clickable-one:hover{
    animation: spin 3000ms ease-in-out;
}

.clickable-component:hover{
    transform: scale(1.1);
    transition: 50ms ease-in-out;
    cursor:pointer;
}

.clickable-component:active{
    transform:scale(1);
}

#research-paragraphs-one-display{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#dino-constellation{
    width:300px;
    margin:none;
    padding:none;
}

#research-paragraphs-four-list{
    display:flex;
    flex-direction:column;
}

#credits-banner{
    width:500px;
    margin-left:20px;
    border-radius:30px;
    margin-bottom:30px;
}

#right-display{
    display:flex;
    flex-direction:column;
}
