.zigzag-section {
    height: 100vh;
    position: relative;
    transition: opacity 0.3s ease;
  }
  
  .zigzag-item {
    display:flex;
    position: absolute;
    background-image: url('../assets/pad.PNG');
    background-size: contain;
    width:320px;
    height:320px;
  }

  
  .zigzag-item.top-left {
    top: 10%;
    left: 10%;
    transform:rotate(30deg);
  }

  .zigzag-item.top-left p {
    transform:rotate(330deg);
    padding-left:40px;
    padding-top:50px;
  }
  
  .zigzag-item.bottom-left-middle {
    bottom: 10%;
    left: 25%;
  }
  
  .zigzag-item.bottom-left-middle p {
    padding-left:80px;
    padding-top:20px;
  }

  .zigzag-item.top-right-middle {
    top: 10%;
    right: 25%;
    background:none;
  }
  
  .zigzag-item.bottom-right {
    bottom: 10%;
    right: 10%;
    transform:rotate(170deg);
  }

  .zigzag-item.bottom-right p{
    transform:rotate(190deg);
    padding-right:40px;
    padding-bottom:50px;
  }
  
  .paragraph-area-zigzag {
    width: 200px;
    height:150px;
    border-radius: 8px;
    resize: none;
    outline: none;
    font-size: 15px;
    color:#3d5656;
    /*overflow:scroll;*/
  }

  .image{
    width:250px;
  }